.MainLayout {
  max-width: 120rem;
  padding-inline: 1rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;

  > * {
    flex: 1;
  }
}

.LinkWrapper {
  text-decoration: none;
  color: inherit;

  &.InActive {
    cursor: default;
  }
}

.Aside {
  min-height: 90svh;
  min-width: 25rem;
  border: 1px solid var(--neutral);

  &Sticky {
    position: sticky;
    top: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &CloseButton {
    margin-inline: 2rem;
    align-self: end;
    font-size: 2rem;
    cursor: pointer;
  }
}
