.PokeList {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PokeGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  justify-items: center;
  justify-content: space-around;
  gap: 2rem;
  > * {
    max-width: 20rem;
    width: 100%;
  }
}

.NoPokemons {
  margin: 0;
  text-align: center;
  opacity: 0.5;
  user-select: none;
}
