:root {
  color-scheme: light dark;
  --error: tomato;
  --border: lightGray;
  --select: lightGray;
  --on-select: black;
}

body {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin-inline: auto;
  padding: 0 15px;
  padding-bottom: 100px;
  max-width: 650px;
  font-size: 115%;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

pre code {
  white-space: pre-wrap;
}

.flex {
  display: flex;
  gap: 5px;
}

.form {
  padding: 10px;
  border: 2px solid var(--border);
}

.input {
  padding: 0;
  label:empty {
    display: none;
  }
}

input {
  &[type='email'],
  &[type='password'],
  &[type='text'],
  &[type='number'] {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  &[type='button'],
  &[type='submit'] {
    padding: 5px;
  }
}

fieldset {
  border: 2px solid var(--border);
}

.autocomplete {
  .autocompleteSuggestions {
    padding: 0;
    overflow-y: scroll;
    height: 200px;
    list-style: none;
    li {
      padding: 0 25px;
      cursor: pointer;
      &:hover {
        color: var(--on-select);
        background-color: var(--select);
      }
    }
  }
}

.formErrorGroup > p:last-child {
  min-height: 1em;
  line-height: 1;
  color: var(--error);
}

.card {
  padding: 10px;
  display: grid;
  gap: 5px;
  list-style: none;
  li {
    display: flex;
    gap: 5px;
    text-decoration: dashed;
  }
  &.mark {
    outline: 5px solid var(--error);
  }
  li > span:first-child {
    font-weight: bold;
  }
}
