.PokeCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.25rem;
  font: inherit;
  color: inherit;
}

.LinkWrapper {
  padding: 0.5rem 1rem;
  display: block;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--link);
  }
}

.ImageContainer {
  width: 12rem;
  height: 12rem;
  max-width: 100%;
}

.Image {
  width: 100%;
  height: auto;
}

.ImageFallbackBlock {
  height: 100%;
  display: grid;
  place-content: center;
  font-size: 3.25em;
  font-weight: bold;
}

.Name {
  margin: 0;
  font-size: 1.1em;
  font-weight: bold;
}

.Types {
  margin: 0.55em 0;
  font-size: 0.9em;
}
