.TopSlot {
  margin-top: 4rem;

  .SearchContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem 1rem;
  }

  .ErrorLink {
    font-size: 1.5rem;
    justify-self: right;
  }
}

.BottomSlot {
  margin-top: 6rem;
}

.PageSizeInput {
  max-width: 8rem;
  font-size: 1.5rem;
}
