.TopSlot {
  margin-top: 17.5rem;

  .SearchContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem 1rem;
  }

  .ErrorLink {
    font-size: 1.5rem;
    justify-self: right;
  }
}

.BottomSlot {
  margin-top: 3rem;
  min-height: 20rem;
  display: grid;
}

.PokeList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1rem;
}
