.PageList {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  display: flex;
  gap: 0.25rem;
  list-style: none;
  overflow-x: auto;
}

.PageItemButton {
  font-size: 1rem;
  min-height: 2em;
  min-width: 2em;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
