@use '../MainLayout.module.scss';

.TopSlot {
  margin-top: 4rem;
  .ErrorLink {
    font-size: 1.5rem;
    justify-self: right;
  }
}

.Form {
  fieldset {
    padding: 0;
    border: none;
  }
}

.Search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem 1rem;
}

.Pagination {
  width: min(56rem, 90vw);
  display: grid;
}

.BottomSlot {
  margin-top: 6rem;
}

.PageSizeInput {
  max-width: 8rem;
  font-size: 1.5rem;
}

button.Submit {
  transition-property: transform border-color;
  transition-duration: 300ms;
}

._Disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
